<h2>Bem-vindo!</h2>
<p>CRUD é um acrônimo para Create, Read, Update e Delete, que são as quatro operações básicas de banco de dados.</p>

<p>Neste, existem as seguintes funções: </p>
    <ul>
    <li>Cadastrar os alunos (no botão "+ Alunos");</li>
    <li>Listar os alunos (lista geral após fechar esse modal, podendo também pesquisar por nome ou id);</li>
    <li>Acessar e modificar os dados do aluno (clicando no ícone do lápis);</li>
    <li>Deletar o cadastro do aluno (clicando no ícone da lixeira).</li>
    </ul>

    <div mat-dialog-actions class="action">
        <button mat-raised-button color="primary" (click)="closeDialog()">{{'Entendido!'}}</button>
    </div>